/* 
    Reset all the "User-Agent-Stylesheet" styles, 
    except for the 'display' property 
*/
@font-face {
    font-family: myFirstFont;
    src: url(LobsterTwo-Regular.ttf);
    font-weight: bold;
}

* {
    /* all: unset; */
    /* display: revert; */
    font-family: myFirstFont;
}

:root {
    --logo-size: 32px;
  }

.header {
    background-color: #bb2528;
    min-height: 140px;
    background-image: url('logo.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 140px;
    box-shadow: 0px 2px 6px 2px #ccc;
}

.main {
    margin: 24px auto 96px;
    max-width: 960px;
}

p {
    font-size: 18px;
    text-align: center;
    padding-bottom: 8px;
}

a {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    opacity: 0.80;
}

h1 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 16px;
}

h2 {
    font-size: 32px;
    text-align: center;
}

.player {
    display: flex;
    justify-content: center;
}

footer {
    background-color: #bb2528;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    padding: 24px 0;
    margin: 24px 0;
}

footer a {
 color: #fff;   
}

.slika {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}
.slika img {
    max-height: 240px;
}

body{ height:100vh; margin:0; }

/* Trick */
body{ 
  display:flex; 
  flex-direction:column; 
}

footer{
  margin-top: auto; 
}

.pravljice {
    display: flex;
    justify-content: center;
}

.song, .story {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logos {
    margin: 0 0 24px;
    display: flex;
    flex: 1
}

.logos > * {
    margin: 0 8px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: var(--logo-size);
    width: var(--logo-size);
    height: var(--logo-size);
    transition: opacity 0.15s ease-in-out;
}

.logos > *:hover {
    opacity: 0.7;
}

.fb-logo {
    background-image: url('fb.png');
}

.ig-logo {
    background-image: url('ig.png');
    filter: invert(1);
}
