@font-face {
    font-family: myFirstFont;
    src: url(assets/LobsterTwo-Regular.ttf);
    font-weight: bold;
}

* {
    font-family: myFirstFont, Georgia, serif;
}

:root {
    --logo-size: 32px;
}
  
p {
    font-size: 18px;
    text-align: center;
    padding-bottom: 8px;
}

a {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    opacity: 0.80;
}

h1 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 16px;
}

h2 {
    font-size: 32px;
    text-align: center;
}

body {
    height: 100vh;
    margin: 0;
    display: flex; 
    flex-direction:column; 
}

footer{
  margin-top: auto; 
}

.header {
    background-color: #bb2528;
    min-height: 156px;
    box-shadow: 0px 2px 6px 2px #ccc;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.header img {
    width: 144px;
}

.main {
    margin: 0 auto 96px;
    max-width: 90vw;
}


.player {
    display: flex;
    justify-content: center;
}

footer {
    background-color: #bb2528;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    padding: 24px 0;
    margin: 24px 0;
}

footer a {
 color: #fff;   
}

.picture {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}

.picture img {
    max-height: 320px;
    max-width: 90vw;
}

.song, .story {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.song iframe {
    max-width: 90vw;
}

.logos {
    margin: 0 0 24px;
    display: flex;
    flex: 1
}

.logos > a {
    margin: 0 8px;
    transition: opacity 0.15s ease-in-out;
}

.logos > a:hover {
    opacity: 0.7;
}

.logos > .ig {
    filter: invert(1);
}

.logos img {
    width: var(--logo-size);
    height: var(--logo-size);
}
